@using Comerciante.Pedido.Application.ViewModels
@model EditarPedidoViewModel
@{
    ViewData["Title"] = $"Editando Pedido Nº {Model.Pedido.Numero}";
}
<h2>Pedido Nº @Model.Pedido.Numero</h2>

<h1>Referencias</h1>
<hr />
<div class=" form-group form-inline">
    <div class="form-group">
        <div>
            <button data-bind="click : ViewModel.refJaAdicionadas" class="btn btn-warning pull-right">Referências já adicionadas</button>
        </div>
    </div>
    <div class="form-group pull-right">
        <div>
            <button class="btn btn-info " style="float:right">Finalizar Pedido</button>
        </div>
    </div>
</div>

<hr />
<h3>Totais</h3>
<div class="form-group form-inline">
    <h4>Total Pedido: R$ <span data-bind="text : ViewModel.totais.totalPedido"></span></h4>
    <h5> Total Peças: <span data-bind="text : ViewModel.totais.totalPecas"></span></h5>
    <h5>Total Referências: <span data-bind="text : ViewModel.totais.totalReferencias"></span> </h5>
</div>
<hr />

<div class="col-lg-12">
    @Html.Partial("_Referencia")
</div>
<div id="modalAddEditRef" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 data-bind="text : ViewModel.addEditRef.Codigo">Adicionar </h2>
            </div>
            <div class="modal-body">
                <div id="modalBodyAddEditRef">
                    @Html.Partial("_AddEditRef")
                </div>
            </div>
            <div class="modal-footer">
                <button id="btSalvar" data-bind="click : ViewModel.enviaPedidoReferencia" type="button" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        var modelSer = @Json.Serialize(Model.AddEditReferencias);
        var pedidoSer = @Json.Serialize(Model.Pedido);
    </script>
    <script src="~/lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="~/js/referencias.js"></script>

}
