@using Comerciante.Pedido.Application.ViewModels
@model EditarPedidoViewModel
@{
    ViewData["Title"] = $"Editando Pedido Nº {Model.Pedido.Numero}";
}
<div class="col-lg-12">
    <div class="form-horizontal col-lg-12" style="padding:10px">
        <div class="col-lg-3 left">
            <h2>Pedido Nº @Model.Pedido.Numero</h2>
            <div class="">
                <button data-bind="click : ViewModel.finalizarPedido" class="btn btn-info pull-left">Finalizar Pedido</button>
            </div>
        </div>
        <div class="panel panel-primary pull-right" style="margin:10px">
            <div class="panel-heading">
                <h2 class="panel-title">Totais</h2>
            </div>
            <div class="" style="padding:5px">
                <h3 class="text-success">Total Pedido: R$ <span class="text-success" data-bind="text : ViewModel.totais.totalPedido"></span></h3>
                <h4 class="text-info"> Total Peças: <span class="text-info" data-bind="text : ViewModel.totais.totalPecas"></span></h4>
                <h4 class="text-info">Total Referências: <span class="text-info" data-bind="text : ViewModel.totais.totalReferencias"></span></h4>
            </div>
        </div>
    </div>

    <div class="form-group">
        <h3 class="text-left">Referências</h3>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-4">
            <select id="selectTipo" class="form-control" data-bind="options : ViewModel.listTipos, selectedOptions : ViewModel.listTiposDefault,event : {change : ViewModel.trocaDeTipo}, value : ViewModel.tipo"></select>
        </div>
  
    </div>
    <div class="col-lg-12">
        <hr />
    </div>

    
    <div class="col-lg-8">
        @Html.Partial("_Referencia")
    </div>
    <div class="col-lg-4">
        @Html.Partial("_RefJaAdd")
    </div>

    <div id="modalAddEditRef" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                @*<div class="modal-header">
                        <h4 data-bind="text : ViewModel.addEditRef.Codigo"></h4>
                    </div>*@
                <div class="modal-body">
                    <div id="modalBodyAddEditRef">
                        @Html.Partial("_AddEditRef")
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSalvar" data-bind="click : ViewModel.enviaPedidoReferencia" type="button" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var modelSer = @Json.Serialize(Model.AddEditReferencias);
        var pedidoSer = @Json.Serialize(Model.Pedido);
        var tiposSer = @Json.Serialize(Model.TipoReferencias);
    </script>
    <script src="~/js/koNumeric.js"></script>
    <script src="~/lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="~/js/referencias.js"></script>

}
